#!/usr/bin/make -f

LDFLAGS += -Wl,-z,defs
LDFLAGS += -Wl,--as-needed

%:
	dh $@ --builddirectory=build

override_dh_auto_configure:
	bash ./configure --prefix=/usr --build build --debug=std \
		--enable-qsv \
		--enable-vce \
		--enable-fdk-aac \
		--enable-nvenc \
		--enable-numa \
		--enable-x265 \
        --enable-libsvtav1 \
        --enable-encoder=libsvtav1 \
		--disable-gtk-update-checks \
		CC="$(CC)" CXX="$(CXX)" \
		CFLAGS="$(CFLAGS)" CXXFLAGS="$(CXXFLAGS)" LDFLAGS="$(LDFLAGS)" CPPFLAGS="$(CPPFLAGS)"

override_dh_installchangelogs:
	dh_installchangelogs NEWS.markdown
