name: build docker image

on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      flavor:
        type: choice
        description: 'Debian/Ubuntu Version'
        options:
          - 'trixie'
          - 'focal'
          - 'jammy'
          - 'noble'
          - 'bullseye'
          - 'bookworm'
        required: true

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:docker"
          file: "build-${{ github.event.inputs.flavor }}.Dockerfile"
          push: true
          tags: "${{ env.REGISTRY }}/${{ github.repository_owner }}/handbrake-custom-build:${{ github.event.inputs.flavor }}"
